*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
:root{
    --main: #FFFFFF;
    --bg: #7C4EE4;
    --clr:#333333;
}

.nav{background-color: var(--main);
        position: fixed !important;
    z-index: 5 !important;
      top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    
    
}

nav .btn{
    background-color: var(--bg);
    color: var(--main);
}
.section1,.section4{
     width: 99%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    background-color: var(--bg);
}
.section1-text,.section4-text{
    flex-wrap: wrap;
}
.section1 .btn,.section4 .btn{
    background-color: var(--main);
    color: var(--bg);
    border-radius: 20px;
    width: 150px !important;
    height: 40px !important; }

    .section2{
        width: 99%;
        position: relative;
    }
    .section2 .img{
        margin-left: 150px !important;
    }
    .section2-text{
        background-color: var(--main);
        color: var(--bg);
        border-radius: 20px;
        height: 230px !important;
        width: 600px;
        position: absolute;
        bottom: -80px;
        left: 600px !important;
        padding: 10px;
    
    }
.section2-text h1{
    font-size: 20px;
}
.section2-text span{
    font-size: 10px;
    margin-left: 30px;
}
    .section2-text p{
        font-size: 10px;
    }
.section2 .btn{
    border: 2px solid var(--bg);
}
.wrapper{
    max-width: 1400px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.section3,.section6{
    width:99%
}
.section3 .btn ,.section6 .btn{
    background-color: var(--bg);
    color: var(--main);

}
.section4{
    background-color: var(--main);
}
.section5,.section7{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.section5 a,.section7 a{
    color: var(--bg);
}
.section5 .card,.section7 .card{
    border: none;
    margin-top:20px ;
}
.section8{
    background-color: var(--bg);
    position: relative;

}
.section8 .img1{
    position:absolute ;
    top:0px;
    left: 1px;
}
.section8 .img2{
    position:absolute ;
    bottom: 0px;
    left:1000px
}
.section8-text{
    width:50%;
    margin: auto;
    flex-wrap: wrap;
}
.section8 .btn1{
    background-color: var(--main);
     color: var(--bg);
    border-radius: 10px;
    width: 250px !important;
    height: 40px !important; }

    .section8 .btn2{
    border: 1px solid var(--main);
     color: var(--main);
    border-radius: 10px;
    width: 150px !important;
    height: 40px !important; }
    
    footer{
        background-color: var(--main);
        color: var(--bg);
    }
    .footer-text{
        margin-left:500px;}
.footer-end{
        border-top: 1px solid gray;
width:80%;
margin: auto;

    }
    .footer-end h5{
        margin-left: 230px;
    }




@media screen and (max-width:1200px){
      .section2 .img{
        margin-left: 0px !important;
    }
    .section2{
        padding-left: 0px;
        padding-right: 0px;
    }
    .section2-text{
             left:0px !important;
        
    
    }
  .section8 .img2{
display: none;
  }  
}