.section1,.section4{
    display: flex;
    flex-direction: column;
}
.section1-text,.section4-text{
    width: 90% !important;
}
.section1 .img,.section4 .img{
    width: 80% !important;

}
.section2-text{
    display: none;
}
 .footer-text{
        margin-left:50px;}
         .footer-end h5{
        margin-left: 0px;
    }